p {
   background-color: yellow;
}
.friends{
    background-color: #cc33ff;
}
p{
    color: #ffff00 ;
}
body { background-color: #ffb3d1; 
}
p{
    font-family: 'Roboto Slab', serif;
}
.mariah{
    font-family: 'Varela Round', sans-serif;
}